{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Start Form Body-->
    <div class="container">
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        <h4>Contact Information</h4>
                    </div>

                </div>
            </div>
        </div>

        <form id="contactForm-1" action="javascript:void();" method="get"><input class="form-control" type="hidden"
                                                                                 name="Introduction"
                                                                                 value="This email was sent from www.mywebsite.com"><input
                class="form-control" type="hidden" name="subject" value="My Contact Form"><input class="form-control"
                                                                                                 type="hidden" name="to"
                                                                                                 value="email@mywebsite.com">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="message">
                    <fieldset>
                        <legend><i class="fa fa-envelope"></i> About Us</legend>
                    </fieldset>
                    <hr>
                    <p> Welcome to FUEL BUDDY! YOUR ULTIMATE GAS PRICE TRACKER app which is an online platform designed
                        to assist customers/consumers in monitoring and comparing the fuel prices at various gas
                        stations in their local area which is a reliable way to stay updated about the fluctuations in
                        fuel prices. The app allows them to make choices that help save money on fuel and save time also
                        with location-based search users can quickly find nearby gas stations with real-time price
                        updates. The goal is to provide consumers with convenience while also encouraging price
                        transparency and competition among gas stations. This application meets the demands of both
                        consumers and fuel companies. It enables users to make more cost-effective decisions, save money
                        and time. This application can help gas station owners by monitoring their competitors pricing
                        strategies in real-time, ensuring they have an adequate supply of fuel on hand, responding to
                        market changes, and understanding consumer preferences from feedback.
                    </p>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend><i class="fa fa-location-arrow"></i>&nbsp;</legend>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="static-map"><a href="https://images.app.goo.gl/uQmYs9v1q3453MyS7"
                                                       target="_blank"><img class="img-fluid"
                                                                            src="{% static 'assets/img/gas-station.jpg' %}"
                                                                            alt="Gas Station"></a></div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </form>
        <!-- End Form Body -->
    </div>

{% endblock %}