{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        body {
            background-color: #f0f0f0;
        }

        header {
            background-color: #ffa200;
            line-height: 10px;
            padding: 10px;
        }

        h1 {
            display: flex;
            align-items: center;
        }

        h1 img {
            margin-right: 10px;
        }

        .footer {
            background-color: blue;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #submit-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #cancel-button {
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #wp-block-button__link {
            background: #0397a9;
            font-weight: 600;
            padding: 8px 24px;
            border: none;
            border-radius: 28px;
            box-shadow: none;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            margin: 0;
            text-align: center;
            text-decoration: none;
            overflow-wrap: break-word;
        }

    </style>

    <!--Start Form Body-->
    <div class="container">
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        <h4>Contact Information</h4>
                    </div>

                </div>
            </div>
        </div>

        <form id="contactForm-1" action="javascript:void();" method="get"><input class="form-control" type="hidden">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="message">
                    <fieldset>
                        <legend><i class="fa fa-envelope"></i>
                            <h3>Fuel Demand, EIA Prediction and Pricing Data</h3> <br>
                            <h4>FUEL BUDDY EIA IMPLIED GASOLINE DEMAND PREDICTION</h4> <br>
                            <h6>Fuel Buddy develops and maintains proprietary predictive models for U.S. gasoline demand
                                published by the EIA. To inquire about obtaining this dataset, please email our team
                                @fuelbuddy.com.</h6></legend>

                        <center><h5><b>Prior Fuel Buddy Fuel Demand Reports</b></h5></center>
                    </fieldset>

                    <hr>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <legend><i class="fa fa-location-arrow"></i>&nbsp;</legend>
                    </fieldset>

                </div>
                <div>
                </div>
            </div>
        </form>
        <form method="POST" action="{% url 'fueldemand' %}" id="fueldemand-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="wp-block-columns" class="col-md-6">
                <div class="wp-block-column">
                    <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                        <figure class="wp-block-media-text__media"></figure>
                        <div class="wp-block-media-text__content">
                            <p class="has-normal-font-size"><strong>Fuel Demand Report</strong></p>
                            <div class="wp-block-button"><a class="wp-block-button__link"
                                                            href="https://www.eia.gov/petroleum/weekly/gasoline.php"
                                                            target="_blank" rel="noopener noreferrer"><img
                                    class="wp-image-15932" src="{% static 'assets/img/weekly-report.png' %}"
                                    sizes="(max-width: 400px) 100vw, 400px" alt="">View Report</a></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="wp-block-column"
                <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                    <div class="wp-block-media-text__content">
                        <p class="has-normal-font-size"><strong>Gasoline Fuel Update</strong></p>
                        <div class="wp-block-button"><a class="wp-block-button__link"
                                                        href="https://www.eia.gov/petroleum/gasdiesel/" target="_blank"
                                                        rel="noopener noreferrer"><img class="img-fluid"
                                                                                       src="{% static 'assets/img/fuel-trend.png' %}"
                                                                                       alt="Fuel Trend">View Report</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!--  <button type="submit" id="submit-button">Login</button>
      <button type="button" id="cancel-button">Back</button> -->
    </form>
    <!-- End Form Body -->
    {# Display messages here #}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="success-message" style="display: none;">
        Logged in Successfully !!
    </div>

{% endblock %}