{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <div data-bss-parallax-bg="true"
             style="height: 300px;opacity: 1;color: var(--bs-body-bg);backdrop-filter: opacity(1);filter: saturate(75%);
                     background-image: url(&quot;{% static 'assets/img/gas-pumps.jpg' %}&quot;);
                     background-position: center;background-size: cover;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 col-lg-8 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"
                         style="text-shadow: 4px 0px 5px var(--bs-body-color);">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold" style="color: var(--bs-white);width: 362px;">Welcome to
                                Your Ultimate Gas Price Tracker App</h1>
                            <p class="my-3" style="backdrop-filter: opacity(1);color: var(--bs-white);">Need help
                                finding gas for cheap? We've got you covered.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
                 style="box-shadow: 4px 2px 4px var(--bs-primary-text-emphasis);">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold mb-2" style="text-shadow: 2px 0px var(--bs-primary-text-emphasis);">Find Gas
                        Stations</h2>
                    <p class="mb-0" style="font-size: 17px;">Quickly compare prices for gas stations near your
                        location.</p>
                </div>
                <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="{% url 'findGas' %}">Find
                    Gas Stations</a></div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
                 style="box-shadow: 4px 2px 4px var(--bs-primary-text-emphasis);">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold mb-2" style="text-shadow: 2px 0px var(--bs-primary-text-emphasis);">Update a
                        Price</h2>
                    <p class="mb-0" style="font-size: 17px;">Update a gas station price near your location.</p>
                </div>
                <div class="my-2">
                    <a class="btn btn-light fs-5 py-2 px-4" role="button" href="{% url 'update_gas_prices' %}">Update
                        Gas Price</a></div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
                 style="box-shadow: 4px 2px 4px var(--bs-primary-text-emphasis);">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold mb-2" style="text-shadow: 2px 0px var(--bs-primary-text-emphasis);">Rewards
                        Program</h2>
                    <p class="mb-0" style="font-size: 17px;">Sign up for our rewards, check your points, and redeem
                        rewards for using our app</p>
                </div>
                <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="#">Go to Rewards</a></div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
                 style="box-shadow: 4px 2px 4px var(--bs-primary-text-emphasis);">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold mb-2" style="text-shadow: 2px 0px var(--bs-primary-text-emphasis);">Have Feedback
                        for Us?</h2>
                    <p class="mb-0" style="font-size: 17px;">We'd love to hear any feedback needed to improve our
                        services.</p>
                </div>
                <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="{% url 'feedback' %}">Submit
                    Feedback</a></div>
            </div>
        </div>
    </section>

{% endblock %}