{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        body {
            background-color: #f0f0f0;
        }

        header {
            background-color: #ffa200;
            line-height: 10px;
            padding: 10px;
        }

        h1 {
            display: flex;
            align-items: center;
        }

        h1 img {
            margin-right: 10px;
        }

        #submit-button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #cancel-button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    </style>
    <!--Start Form Body-->
    <div class="container">
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        <h4>Contact Information</h4>
                    </div>

                </div>
            </div>
        </div>

        <form>
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="message">
                    <fieldset>
                        <legend><i class="fa fa-envelope"></i> Login</legend>
                    </fieldset>

                    <hr>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend><i class="fa fa-location-arrow"></i>&nbsp;</legend>
                    </fieldset>

                </div>
                <div>
                </div>
            </div>
        </form>
        <form method="POST" action="{% url 'login' %}" id="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <div>
                 <input type="radio" name="user_type" id="customerRadio" value="customer">
                 <label for="customerRadio">Customer</label>

                 <input type="radio" name="user_type" id="gasStationOwnerRadio" value="gas_station_owner">
                 <label for="gasStationOwnerRadio">Gas Station Owner</label>
             </div> -->

            <button class="btn-light" type="submit" id="submit-button">Login</button>
            <button class="btn-danger" type="button" id="cancel-button">Back</button>
            <div>
                <p id="welcome-message" style="display: none;">Welcome, User!</p>
                <p>Don't have an Account? Create One!: <a href="{% url 'signup' %}">Sign Up</a></div>
        </form>
        <!-- End Form Body -->
        {# Display messages here #}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="success-message" style="display: none;">
            Logged in Successfully !!
        </div>

    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', function () {
            // Your logic to display the success message here
            document.getElementById('success-message').style.display = 'block';
        });

        document.getElementById("cancel-button").addEventListener("click", function () {
            window.location.href = "{% url 'index' %}";
        });
    </script>

{% endblock %}