{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        body {
            background-color: #f0f0f0;
        }

        header {
            background-color: #ffa200;
            line-height: 10px;
            padding: 10px;
        }

        h1 {
            display: flex;
            align-items: center;
        }

        h1 img {
            margin-right: 10px;
        }

        .footer {
            background-color: blue;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #submit-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #cancel-button {
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #wp-block-button__link {
            background: #0397a9;
            font-weight: 600;
            padding: 8px 24px;
            border: none;
            border-radius: 28px;
            box-shadow: none;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            margin: 0;
            text-align: center;
            text-decoration: none;
            overflow-wrap: break-word;
        }

    </style>

    <!--Start Form Body-->
    <div class="container">
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        <h4>Contact Information</h4>
                    </div>

                </div>
            </div>
        </div>

        <form id="contactForm-1" action="javascript:void();" method="get"><input class="form-control" type="hidden">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="message">
                    <fieldset>
                        <center><h3><b>Payment</b></h3></center>
                    </fieldset>

                    <hr>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <legend><i class="fa fa-location-arrow"></i>&nbsp;</legend>
                    </fieldset>

                </div>
                <div>
                </div>
            </div>
        </form>
        <form method="POST" action="{% url 'fueldemand' %}" id="fueldemand-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="wp-block-columns" class="col-md-6">
                <div class="wp-block-column">
                    <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                        <!--  <figure class="wp-block-media-text__media"><img class="wp-image-15932" src="{% static 'assets/img/fuel-station.png' %}" sizes="(max-width: 400px) 100vw, 400px" alt="pump1"></figure>
      <div class="wp-block-media-text__content">
      <p class="has-normal-font-size"><strong>Pump # 1</strong></p>
      <div class="wp-block-button"><a class="wp-block-button__link" href="https://www.eia.gov/petroleum/weekly/gasoline.php" target="_blank" rel="noopener noreferrer">Make Payment</a></div>
      </div>
      </div>
      </div>
      <div class="wp-block-column"  
      <div class="wp-block-media-text alignwide is-stacked-on-mobile">
      <figure class="wp-block-media-text__media"><img class="wp-image-15936" src="https://blog-content.gasbuddy.com/uploads/2020/05/Q1FuelBuyingTrendsV2.png" sizes="(max-width: 400px) 100vw, 400px" srcset="https://blog-content.gasbuddy.com/uploads/2020/05/Q1FuelBuyingTrendsV2.png 2400w, https://blog-content.gasbuddy.com/uploads/2020/05/Q1FuelBuyingTrendsV2-428x285.png 428w, https://blog-content.gasbuddy.com/uploads/2020/05/Q1FuelBuyingTrendsV2-768x512.png 768w, https://blog-content.gasbuddy.com/uploads/2020/05/Q1FuelBuyingTrendsV2.png 1536w, https://blog-content.gasbuddy.com/uploads/2020/05/Q1FuelBuyingTrendsV2.png 2048w" alt=""></figure>
      <div class="wp-block-media-text__content">
      <p class="has-normal-font-size"><strong>Q1 Consumer Fuel-Buying Trend Report</strong></p>
      <div class="wp-block-button"><a class="wp-block-button__link" href="https://www.gasbuddy.com/NewsRoom/PressRelease/897" target="_blank" rel="noopener noreferrer">View Report</a></div>
      </div>
      </div>
      </div>
      </div>
        <button type="submit" id="submit-button">Login</button>
      <button type="button" id="cancel-button">Back</button> -->
                        <section class="section">
                            <div class="container">
                                <button class="button is-primary" id="submitBtn">Purchase!</button>
                            </div>
                        </section>
        </form>
        <!-- End Form Body -->
        {# Display messages here #}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="success-message" style="display: none;">
            Logged in Successfully !!
        </div>

    </div>

{% endblock %}