{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        body {
            background-color: #f0f0f0;
        }

        header {
            background-color: #ffa200;
            line-height: 10px;
            padding: 10px;
        }

        h1 {
            display: flex;
            align-items: center;
        }

        h1 img {
            margin-right: 10px;
        }

        .footer {
            background-color: blue;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #submit-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #cancel-button {
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        #wp-block-button__link {
            background: #0397a9;
            font-weight: 600;
            padding: 8px 24px;
            border: none;
            border-radius: 28px;
            box-shadow: none;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            margin: 0;
            text-align: center;
            text-decoration: none;
            overflow-wrap: break-word;
        }

        .wp-block-columns {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        .wp-block-column {
            width: 200px;
            margin: 50px;
        }

        .wp-block-media-text {
            text-align: center;
        }

        .wp-block-button__link {
            display: block;
            margin-top: 50px;
        }
    </style>
    <!--Start Form Body-->
    <div class="container">
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        <h4>Contact Information</h4>
                    </div>
                </div>
            </div>
        </div>
        <form id="contactForm-1" action="javascript:void();" method="get">
            <input class="form-control" type="hidden">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="message">
                    <fieldset>
                        <legend>
                            <i class="fa fa-envelope"></i>
                            <h3>Gas station owner</h3>
                            <br>
                        </legend>
                        <center>
                            <h5>
                                <b>Select Fuel Station to pay </b>
                            </h5>
                        </center>
                    </fieldset>
                    <hr>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <legend>
                            <i class="fa fa-location-arrow"></i>&nbsp;
                        </legend>
                    </fieldset>
                </div>
                <div></div>
            </div>
        </form>
        <form method="POST" action="{% url 'fueldemand' %}" id="fueldemand-form">
            {% csrf_token %} {{ form.as_p }}
            <div class="wp-block-columns">
                <div class="wp-block-column">
                    <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                        <figure class="wp-block-media-text__media">
                            <img class="wp-image-15932" src="{% static 'assets/img/fuel-station.png' %}"
                                 sizes="(max-width: 400px) 100vw, 400px" alt="pump1">
                        </figure>
                        <!-- Fuel - 1 -->
                        <div class="wp-block-media-text__content">
                            <p class="has-normal-font-size">
                                <strong>Pump # 1</strong>
                            </p>
                            <div class="wp-block-button">
                                <a class="wp-block-button__link" href="{% url 'index' %}" target="_blank"
                                   rel="noopener noreferrer">Make Payment</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wp-block-column">
                    <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                        <figure class="wp-block-media-text__media">
                            <img class="wp-image-15936" src="{% static 'assets/img/fuel-station.png' %}"
                                 sizes="(max-width: 400px) 100vw, 400px" alt="pump2">
                        </figure>

                        <!-- Fuel - 2 -->

                        <div class="wp-block-media-text__content">
                            <p class="has-normal-font-size">
                                <strong>Pump # 2</strong>
                            </p>
                            <div class="wp-block-button">
                                <a class="wp-block-button__link" href="{% url 'index' %}" target="_blank"
                                   rel="noopener noreferrer">Make Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Pump #3 -->
                <div class="wp-block-columns">
                    <div class="wp-block-column">
                        <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                            <figure class="wp-block-media-text__media">
                                <img class="wp-image-15942" src="{% static 'assets/img/fuel-station.png' %}"
                                     sizes="(max-width: 400px) 100vw, 400px" alt="pump3">
                            </figure>
                            <!-- Fuel - 3 -->
                            <div class="wp-block-media-text__content">
                                <p class="has-normal-font-size">
                                    <strong>Pump #3</strong>
                                </p>
                                <div class="wp-block-button">
                                    <a class="wp-block-button__link" href="{% url 'index' %}" target="_blank"
                                       rel="noopener noreferrer">Make Payment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pump #4 -->
                    <div class="wp-block-column">
                        <div class="wp-block-media-text alignwide is-stacked-on-mobile">
                            <figure class="wp-block-media-text__media">
                                <img class="wp-image-15946" src="{% static 'assets/img/fuel-station.png' %}"
                                     sizes="(max-width: 400px) 100vw, 400px" alt="pump4">
                            </figure>
                            <!-- Fuel - 4 -->
                            <div class="wp-block-media-text__content">
                                <p class="has-normal-font-size">
                                    <strong>Pump #4</strong>
                                </p>
                                <div class="wp-block-button">
                                    <a class="wp-block-button__link" href="{% url 'index' %}" target="_blank"
                                       rel="noopener noreferrer">Make Payment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}